<footer id="footer" class="footer">
    <div class="footer--wrapper">
        <div id="disclaimer" class="footer--wrapper--disclaimer">
            <p>**This is just a fake portfolio. All the projects and contact details given are not real.</p>
        </div>
        <div id="copyright" class="footer--wrapper--copyright">
            <p>&#169 Created for freeCodeCamp</p>
        </div>
    </div>
</footer>