<header id="header" class="header">
    <nav id="navbar" class="header--navbar">
        <a class="header--navbar--link" href="#welcome-section">About</a>
        <a class="header--navbar--link" href="#projects">Work</a>
        <a class="header--navbar--link" href="#contact">Contact</a>
    </nav>
</header>
