<head>
    <!-- * Meta Tags -->
    <!-- Unicode -->
    <meta charset="UTF-8">
    <!-- Internet Explorer Edge Support -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- * Root Colors -->
    <!-- I set it up this way so that the theme colors can be overridden very easily through JS -->
    <style id="theme--override">
        :root {
            --color--primary: rgba(190, 49, 68, 1);
            --color--background: rgba(0, 0, 0, 1);
            --color--element: rgba(69, 86, 125, 1);
            --color--button: rgba(48, 56, 65, 1);
            --color--text: rgba(255, 255, 255, 1);
            --color--quotes: rgba(221, 119, 50, 1);

            --gradient--main: linear-gradient(225deg, rgba(15, 14, 16, 1), rgba(58, 61, 64, 1));
        }
    </style>

    <!-- * CDN Links -->
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- * Fonts -->
    <!-- Google Fonts | Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Google Fonts | Raleway -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- * Page -->
    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.png">
    <!-- Page Title -->
    <title>freeCodeCamp | Build a Personal Portfolio Webpage</title>
</head>